.container {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .stack {
  margin-bottom: 40px;
}

.selector {
  position: relative;
  z-index: 2;
}
.selector h6 {
  position: relative;
  border: 2px #777777 solid;
  border-radius: 20px;
  background-color: #fff7e7;
  padding: 5px;
  width: 275px;
  z-index: 3;
  cursor: pointer;
  text-align: center;
}
.selector div {
  position: absolute;
  top: -2px;
  left: -2px;
  height: 46px;
  width: 100%;
  border-radius: 20px;
  background-color: #227c9d;
  box-shadow: -1px -2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.selector div:last-child {
  top: 4px;
  left: 2px;
  background-color: #fe6d73;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.container .bioCard {
  background-color: rgba(255, 247, 231, 0.6); /* 60% opacity */
  border-radius: 40px;
  height: 375px;
}

.container .bioCard .cardContents {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0 15px;
}
.bioCard .headshot {
  width: 190px;
  height: 250px;
  border-radius: 200px;
  margin: auto;
}

.container .bioCard .cardContents .body {
  margin: auto 15px;
  text-align: center;
}
.container .bioCard .cardContents .body .title {
  font-weight: bold;
  text-decoration: underline;
}

.container .bioCard .cardContents .linksContainer {
  width: 60px;
  padding: 0 65px;
  margin: auto;
}

.container .bioCard .cardContents .linksContainer .emailImage {
  cursor: pointer;
}

.container .bioCard .cardContents .linksContainer .emailAlertContainer {
  height: 55px;
  width: 60px;
  z-index: 99;
  display: flex;
  align-items: center;
}

.container
  .bioCard
  .cardContents
  .linksContainer
  .emailAlertContainer
  .emailAlert {
  height: 25px;
  border-radius: 10px;
  align-items: center;
  position: absolute;
}

/*
body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #fff7e7;
  padding-top: 100px;
}

.container .bioCard {
  margin: auto;
  width: 1000px;
  box-shadow: none;
}

.container .bioCard .cardContent {
  background-color: #fff7e7;
  position: relative;
  padding: 0;
  padding-bottom: 0;
}

.backgroundBar {
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: end;
  border-radius: 10px;
}

.top {
  background-color: #17c3b2;
}

.middle {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fe6d73;
}

.bottom {
  background-color: #ffcb77;
}

.container .bioCard .backgroundBar .imageWrapper {
  align-self: center;
  margin-right: 10px;
}

.container .bioCard .backgroundBar .imageWrapper .image {
  height: 60px;
  width: 60px;
}

.container .bioCard .backgroundBar .emailImage {
  height: 60px;
  width: 60px;
  align-self: center;
  margin-right: 10px;
  position: absolute;
  cursor: pointer;
}

.headshot {
  width: 185px;
  height: 72%;
  border-radius: 200px;
  position: absolute;
  top: 14%;
  left: 12px;
}

.rowContainer {
  position: relative;
}

.overlay {
  position: absolute;
  top: 10%;
  left: 21%;
  width: 71%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff7e7; 
  border-radius: 20px;
}

.largeOverlay {
  top: 4%;
  height: 92%;
}

.overlay .overlayText {
  margin: 0 25px;
  text-align: center;
}

.name {
  font-weight: bold;
  text-decoration: underline;
}

.backgroundBar .emailAlert {
  height: 25px;
  padding: 0 10px;
  z-index: 99;
  border-radius: 10px;
  align-self: center;
  align-items: center;
  margin-right: 8px;
}

.aboutUsParagraphDesign {
  margin: 0 20px 50px 20px;
}
*/
