body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #fff7e7;
}

.container .bioCard {
  margin: auto;
  width: 1300px;
  box-shadow: none;
}

.container .bioCard .cardContent {
  background-color: #fff7e7;
  position: relative;
  padding: 0;
  padding-bottom: 0;
}

.backgroundBar {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: end;
  border-radius: 10px;
}

.top {
  background-color: #17c3b2;
}

.middle {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fe6d73;
}

.bottom {
  background-color: #ffcb77;
}

.container .bioCard .backgroundBar .imageWrapper {
  align-self: center;
  margin-right: 30px;
}

.container .bioCard .backgroundBar .imageWrapper .image {
  height: 75px;
  width: 75px;
}

.container .bioCard .backgroundBar .emailImage {
  height: 75px;
  width: 70px;
  align-self: center;
  margin-right: 30px;
}

.headshot {
  width: 240px;
  height: 96%;
  border-radius: 200px;
  position: absolute;
  top: 2%;
  left: 30px;
}

.rowContainer {
  position: relative;
}

.overlay {
  position: absolute;
  top: 10%;
  left: 23%;
  width: 67%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff7e7; /* Semi-transparent overlay color */
  border-radius: 20px;
}

.overlayText {
  margin: 10px 12px 0 12px;
  text-align: center;
}

.name {
  font-weight: bold;
}
