body,
html {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("C:\Users\Tyler\Downloads/loginBackground.png");
  background-repeat: repeat; /* Use 'no-repeat' if you don't want the pattern to repeat */
  background-size: auto; /* Adjust this value if needed, e.g., 'cover', 'contain', or specific dimensions */
}

.wrapper .container {
  box-shadow: 1px 3px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 35px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.container .header {
  margin-bottom: 50px;
}

.container .inputField {
  margin-top: 10px;
  width: 100%;
}

.container .messageContainer {
  margin-top: 8px;
  height: 25px;
}

.container .message {
  border: 1px #ff095f solid;
  border-radius: 4px;
  color: #ff095f;
}

.container .button {
  margin-top: 8px;
  width: 100%;
  color: white;
}

.container .switch {
  margin-top: 10px;
}

.container .navLinkLabel {
  margin-top: auto;
}

.container .navLink {
  color: #17c3b2;
}
