div .container {
  margin: 0 5px;
  background-color: var(--backgroundColor, red);
  height: var(--height, 100%);
  position: relative;
  text-align: center;
}
div .container .cardContent {
  height: calc(100% - 200px);
  overflow: auto;
  padding: 0 5px;
}

div .container .cardContent .subcategoriesContainer {
  /* height: 100%; */
}

div .container .button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* margin: 0 auto; */
}

.cardContent::-webkit-scrollbar {
  width: 7px;
}
.cardContent::-webkit-scrollbar-track {
  background-color: rgba(119, 119, 119, 0.25);
  border-radius: 8px;
}
.cardContent::-webkit-scrollbar-thumb {
  background-color: rgba(119, 119, 119, 0.7);
  border-radius: 8px;
}
