<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Plaid Link</title>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  </head>
  <body>
    <button id="plaid-link-button">Open Plaid Link</button>
    <button id="pass-link-button">Pass Plaid Link</button>
    <script>
      //update the port value
      const linkTokenEndpoint = "http://localhost:8080/auth/linktkn";

      const button = document.getElementById("plaid-link-button");
      const button1 = document.getElementById("pass-link-button");
      var ptkn;
      button.addEventListener("click", () => {
        fetch(linkTokenEndpoint, {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())

          .then((data) => {
            console.log(data);
            const handler = Plaid.create({
              token: data.linkTkn,
              onSuccess: (publicToken) => {
                // Handle successful Plaid Link interaction
                ptkn = publicToken;
                console.log("Public token:", "p_token here");
                console.log("Public token:", publicToken);
                console.log(ptkn)
                // Send the public token to your server for further processing
                // ...
              },
              onExit: (error, metadata) => {
                // Handle Plaid Link exit
                if (error) {
                  console.error("Error:", error);
                }
                console.log("Exit metadata:", metadata);
              },
            });

            handler.open();
          })
          .catch((error) => {
            console.error("Error generating link token:", error);
          });
      });
      const linkTokenEndpoint1 = `http://localhost:8080/auth/transactions?param=${ptkn}`;
      button1.addEventListener("click", () => {
        fetch(linkTokenEndpoint1, {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())

          .then((data) => {
            console.log(data);
          })
          .catch((error) => {
            console.error("Error generating link token:", error);
          });
      });
    </script>
  </body>
</html>
