.sliderContainer .slider {
  /* color: #52af77;
  height: 8px; */
}

.sliderContainer .slider .MuiSlider-track {
  border: none;
}

.sliderContainer .slider .MuiSlider-thumb {
  height: 24;
  width: 24;
  background-color: #fff;
  border: 2px solid currentColor;
}

.sliderContainer .slider .MuiSlider-thumb:focus,
.sliderContainer .slider .MuiSlider-thumb:hover,
.sliderContainer .slider .MuiSlider-thumb.Mui-active,
.sliderContainer .slider .MuiSlider-thumb.Mui-focusVisible {
  box-shadow: inherit;
}

.sliderContainer .slider .MuiSlider-thumb::before {
  display: none;
}

.sliderContainer .slider .MuiSlider-valueLabel {
  line-height: 1.2;
  font-size: 12;
  background: unset;
  padding: 0;
  width: 32;
  height: 32;
  border-radius: 50% 50% 50% 0;
  background-color: #52af77;
  transform-origin: bottom left;
  transform: translate(50%, -100%) rotate(-45deg) scale(0);
}

.sliderContainer .slider .MuiSlider-valueLabel::before {
  display: none;
}

.sliderContainer .slider .MuiSlider-valueLabelOpen {
  transform: translate(50%, -100%) rotate(-45deg) scale(1);
}

.sliderContainer .slider .MuiSlider-valueLabel > * {
  transform: rotate(45deg);
}
