.cont {
  z-index: 2;
  display: flex;
}
.cont .subCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}
.tempCont {
  width: 485px;
  height: 350px;
  border-radius: 85px;
  background-color: rgba(255, 247, 231, 0.5); /* 50% opacity */
}

.tempCont .stackItem {
  height: 42px;
  display: flex;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.subCont .tempCont .stackItem .activeIcon {
  font-size: 2.75rem;
  color: var(--hoverColor, red);
}

.tempCont .stackItem .activeText {
  font-weight: bold;
  color: var(--hoverColor, red);
}
.tempCont .stackItem svg:first-child {
  color: #454545;
  margin: 0 25px 0 25px;
  font-size: 2.5rem;
}
.tempCont .stackItem h5 {
  color: #454545;
}
.titleCont {
  margin-bottom: 100px;
  position: relative;
  z-index: 2;
}
.titleCont h4 {
  position: relative;
  border: 3px #777777 solid;
  border-radius: 20px;
  background-color: #fff7e7;
  padding: 10px;
  min-width: 475px;
  z-index: 3;
  text-align: center;
}
.titleCont div {
  position: absolute;
  top: -5px;
  left: -5px;
  height: 68px;
  width: 100%;
  border-radius: 20px;
  background-color: #227c9d;
}
.titleCont div:last-child {
  top: 5px;
  left: 5px;
  background-color: #fe6d73;
}
