.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container .footer {
  height: 70px;
  width: 100%;
  background-color: #fe6d73;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
}
