.container {
  display: flex;
}

.container .newTransactionsContainer {
  height: 85vh;
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
  justify-content: space-between;
  align-items: center;
  width: 270px;
}
