body,
html {
  margin: 0;
  padding: 0;
}

.form {
  margin: auto;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.container .header {
  margin-bottom: 50px;
}

.container .inputField {
  margin-top: 10px;
  width: 100%;
}

.container .messageContainer {
  margin-top: 8px;
  height: 25px;
  width: 100%;
}

.container .message {
  border: 1px #ff095f solid;
  border-radius: 4px;
  color: #ff095f;
  text-align: center;
}

.container .button {
  margin-top: 8px;
  width: 100%;
  color: white;
}

.container .cancel {
  color: #ff095f;
}

.container .switch {
  margin-top: 10px;
  margin-bottom: 10px;
}

.formControl .questionSelect {
  white-space: normal;
}

#questions {
  white-space: normal;
}
