body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.TransactionCategory {
  background-color: "#1A2027";
  padding: 10px;
  text-align: "center";
}

.TransactionCategoryText {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  color: #454545;
}

.TransactionsList {
  max-height: 620px;
  overflow: auto;
  width: 175px;
  margin: 0;
}

.Transaction {
  background-color: rgba(119, 119, 119, 0.15);
  width: 175px;
  min-height: 32px;
}
.credit {
  background-color: rgba(23, 195, 178, 0.4);
}

.Small {
  height: 235px;
}
.SmallTop {
  height: 235px;
}

.Large {
  height: 500px;
}

.maingrid {
  margin: 20px;
}

.TransactionToolTipUnderlinedText {
  text-align: right;
  display: inline-block;
  min-width: 75px;
  margin-right: 10px;
}
